<form action='/api/products' method='POST'>
  <input id='title' name='title' type='text' placeholder='title' />
  <input id='description' name='description' type='text' placeholder='description' />
  <input id='code' name='code' type='text' placeholder='code' />
  <input id='price' name='price' type='number' placeholder='price' />
  <input id='stock' name='stock' type='number' placeholder='stock' />
  <input id='category' name='category' type='text' placeholder='category' />
  <input type='submit' value='CREATE' />
</form>
