<div>
    <strong>Cart Products</strong>
    <ol class="alternating-colors">
        {{#each payload}}
            <li>
                <strong>{{this.title}}</strong>
                <p>_id: {{this.id}}</p>
                <p>Price: {{this.price}}</p>
                <p>Quantity: {{this.quantity}}</p>
            </li>
        {{/each}}
    </ol>
</div>