<form action='/api/auth/register' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='firstName' name='firstName' type='text' placeholder='firstName' />
  <input id='lastName' name='lastName' type='text' placeholder='lastName' />
  <input id='age' name='age' type='number' placeholder='age' />
  <input id='password' name='password' type='text' placeholder='password' />
  <input type='submit' value='registrar' />
</form>
<a href='/login'>ya tengo cuenta che!</a>